<div class="blog">
<h4 class="back"><a ui-sref="home">back to website</a></h4>

<h1 class="blogTitle">
blog
</h1>
<div class="blogContent">
<h1 class="postTitle">My DevMountain Experience</h1>
<h6>April 2016</h6>
<!-- <h6></h6> -->

<p class="blogDescription">
    <!-- <span class="postSection">I Don't Want To Bore You</span><br><br> -->

    I'm going to try avoiding clichés. I'm going to avoid boring you with the typical things you may have read about DevMountain. I could easily sit here and write about all the things you expect me to write about DevMountain such as their free housing, great instructors, and their great price, but I won't bore you. I want to tell you what it was really like for me, from a real student's perspective.<br><br>
    I started in DM8 at the Provo, Utah DevMountain Campus. Today, I am a DevMountain mentor at the Dallas, Texas location.<br><br>
    First and foremost, I want to tell you a little about myself so you can understand my mindset when I started the cohort. In summary: I’m a college drop out (I only completed 3 semesters), I’ve dabbled in marketing and healthcare, I love technology, and I've never had a ‘passion’ for anything before.<br><br>
    Before DevMountain, I knew absolutely nothing about code. I mean, I knew about HTML &amp; CSS because of Myspace layouts, but other than that, I knew nothing. I did not know anything substantial. Despite that, I knew I would be able to code, simply because I was determined to learn.<br><br>
    After I applied, I was interviewed and sent a coding challenge.

    <br><br><span class="postSection">The Coding Challenge</span> <i class="fa fa-long-arrow-right" aria-hidden="true"></i><br><br>

    After receiving and doing DevMountain's code challenge, I’m surprised I wanted to still attend. It took me almost an entire 7 days to finish it. When I took it (back in the day), there were eleven questions - I (proudly) got ten of them correct.<br><br>
    The great part about their coding challenge is you have an unlimited number of tries to get them correct. <a href="http://www.codecard.io/">Codecard.io</a> tells you when your answer is correct/incorrect, which is helpful. The code challenge was really, really, really hard for me, who had never touched code in my life. After a lot of googling and countless hours of trial and error and reading about basic Javascript, I had ten correct. The challenge consisted of rather basic Javascript toy problems, but I didn’t understand all of the concepts yet.<br><br>
    Looking back on the problems now, I just laugh. I can see some of the answers I had and I just make fun of myself for not knowing how to loop through an object’s properties.<br><br>
    If you’re going through the application process now, or thinking of doing so, do not beat yourself up and question whether or not you should attend the school. You need to work hard to grasp the Javascript concepts, but it’s not meant to be easy. Individuals who are capable of finding answers and figuring things out on their own and are determined to get as many questions as they can correct are the people who will be accepted. DevMountain wants self-starting, driven students.<br><br>

    After anxiously waiting for a week, my code challenge was reviewed and I was accepted into the Web Dev Immersive Cohort for November 2015.

    <br><br><span class="postSection">Moving In</span> <i class="fa fa-long-arrow-right" aria-hidden="true"></i><br><br>

    I arrived over the weekend and class was to start that Monday. I moved into the Provo campus’s housing and I was pleasantly surprised. I had a private room and two other female housemates. Since there were not a lot of girls in the program, we were all able to have our own rooms. Which was a perk, but it also made me realize that companies are serious when they say they need women in tech.<br><br>
    The housing was adorable, clean, and only a block away from the school. Literally only a two minute walk. There was plenty of closet space and the washer and dryer were in the hallway. In addition, DevMountain provided dishes, silverware, and pots/pans for students in housing. No, there is not a coffee pot. Some people get sad about that, until they realize there’s free coffee and beverages at the school every day.

    <br><br><span class="postSection">Day One</span> <i class="fa fa-long-arrow-right" aria-hidden="true"></i><br><br>

    The first day of class was extremely terrifying. Extremely. I didn’t know anyone, I had just moved across the country, I was afraid that I would suck at everything, and my roommates were in the cohort above me so they were nowhere to be seen. I felt super alone.<br><br>
    The day began at 9am with breakfast and an introduction from Tyler Richards (Co-Founder) and Jeremy Robertson (Lead Instructor). They eased our minds for a lot of things and answered all of our questions. Jeremy went over the daily schedule for the first six weeks: Mentor Meetings, Lecture, Lunch, then Afternoon Projects.<br><br>
    There wasn’t much time to talk, socialize, or get to know one another because we jumped right into learning. The first day was <a href="http://http://rogerdudler.github.io/git-guide/">Git &amp; The Command line</a>. I HIGHLY recommend learning some of those basics before your first day at DevMountain. Download a text editor (<a href="https://atom.io/">Atom</a> if you’re awesome), write some fake code, and practice pushing it to GitHub. Practice making branches. Practice doing all of those things. It’ll make your first day so much easier.<br><br>
    I was so lost and confused that I almost started crying in class. In fact, I went home at the end of the day and cried in my room. For hours. I felt so dumb for thinking I could ever be a developer.
    The only reason I didn’t have an entire breakdown and quit is because I remembered how hard I worked on the Code Challenge. And that I could do this. I just couldn’t let myself quit.

    <br><br><span class="postSection">The First Six Weeks</span> <i class="fa fa-long-arrow-right" aria-hidden="true"></i><br><br>

    The cohort is broken up into two main parts: the first 6 weeks (Junior) and the second six weeks (Senior). The first six weeks you’re learning everything you need in order to build full-stack web applications such as basic Javascript, HTML &amp; CSS, JQuery, Angular, MongoDB, Express, NodeJS, etc. The second six weeks consists of Personal Projects, Group Projects, and some Job Prep.<br><br>
    The first six weeks will, and should, kill your soul. If you’re doing it right, you’ll be working harder than you’ve ever worked. I averaged about 13 hour days, every day, for six weeks straight. I didn’t have any friends yet, only the people in class I was comfortable asking questions to, that’s about it. I was hardly friends with my roommates, either.<br><br>
    I was not great at coding the first six weeks. Just because I put in the hours and the work didn’t automatically make me some code master. To be quite honest, I sucked. My mentor and everyone around me pretty much knew it, too. Nothing was clicking for me. I wasn’t fitting the pieces together for some reason and it was driving me insane.<br><br>
    There were only a couple weeks left before beginning Personal Projects and my mentor was even pondering the idea of me deferring to the next cohort before I moved forward in the curriculum in in order for me to sharpen up my skills. It was that bad.<br><br>
    But after endless coding and frustration, one of the mentors finally said one sentence that made it all click for me:
    <i>“If it doesn’t make sense coding back to front, just code front to back instead... from the view to the endpoints.” ~T. Charlesworth</i>
    The most simple sentence made me realize I was thinking way too deeply into everything.
    <br><br>
    Sometimes to understand code, you need to shut your computer off and talk about it out loud with someone.

    <br><br><span class="postSection">The Second Six Weeks</span> <i class="fa fa-long-arrow-right" aria-hidden="true"></i><br><br>

    When Personal Projects kicked off, I was determined to make something I could be proud of. One downfall of being human is that we constantly compare ourselves to others. I did it 24/7. I was so worried about being as good as everyone else. I didn’t want people to see me as the struggling student anymore. I had to work ten times as hard to keep up with everyone else, and I was finally at a point where I could work at my own pace and get firmer grasp on concepts. I had two weeks to prove to myself and everyone else, that I could be a developer.<br><br>
    My Personal Project was an appointment scheduling system intended for multiple employees that used Javascript FullCalendar, D3.js, and the MEAN Stack. It had a lot of additional features that I’m really proud of, such as the Time Card feature that keept track of employees' hours. I put in a lot of work, cried here and there (out of happiness and frustration), pulled a total of three all-nighters, and in the end my project won the award of Best Overall.<br><br>
    Winning that award felt really, really friggin' good. There were many projects that were a lot better than mine, but I think I was recognized because of how hard I had worked to get where I was. It’s not fun feeling smaller than your peers for six weeks straight. Being recognized for my hard work meant a lot to me, more than anyone could ever begin to comprehend. I really owe it to my mentors for guiding and encouraging me during that time.<br><br>

    <i>Right after Personal Projects, you don’t have any time to breathe.</i><br>
    We jumped right into Group Projects that same week. Group projects are assigned to you. You have the chance to vote highest to lowest on which project you’re most interested in working on (and yes, you can submit your own ideas that others can vote on as well). The Lead Instructor places people in groups based on ability. He really puts thought and time into placement for groups. I really applaud Jeremy for the time he took to make sure each group was balanced and everyone was satisfied.<br><br>
    My group project was <a href="http://www.globe.geordyn.com/">DevGlobe</a>. Our app was designed to track how DevMountain impacts the world. We made an interactive globe that pinpoints where students come from, their DevMountain campus location, and where they get jobs afterwards - all made entirely from D3.js. In addition, we had pages that show other statistics about DevMountain and the students using D3.js as well.<br><br>
    It was such a fun project. My group consisted of 3 other students who I was very close friends with. Honestly, we were kind of annoyed we were in a group together at first because we wanted to be in groups with people we didn’t know as well in order to get to know other students.<br><br>
    In the end, I’m so thankful I was in their group. We learned a lot about ourselves and how we worked with others. Since we were such close friends, we were comfortable with being brutally honest with one another. We learned about better communication, being self-aware, and taking initiative. We had four leaders in the group. All of us wanted to lead, but obviously none of us could simutaneously. We had a lot of conflicts at first, but we were such good friends we could fight one minute and be playing Super Smash Bros. during a break the next. I love those three and they taught me how to efficiently work on a web dev team. Thank you, bros.<br><br>

    There weren't awards for the group projects, but it was a reward in itself to have finished the cohort successfully. We presented our group projects in front of staff, friends, and family. In the end, you leave with a solid set of new skills, the knowledge for a successful job-search, and a great group of friends.

    <br><br><span class="postSection">Friendships</span> <i class="fa fa-long-arrow-right" aria-hidden="true"></i><br><br>

    I look back on the lack of friendships during the first half of the cohort, and I regret not making friends sooner, but I know that it was a smart decision at the time. I was able to focus, nobody was asking me to hang out, and I wasn’t being distracted during class. After the first six weeks, I branched out when I was comfortable with the curriculum. Those people that I was 'only comfortable asking questions to’ became my best friends.<br><br>
    The friendships you’ll make at DevMountain are unlike any others. You’ll pull all-nighters, argue, laugh at coding puns, stress together, and probably (actually, definitely) cry together. <br><br>
    Not only did the other students become my best friends, but so did the mentors. The people at DevMountain are some of the most amazing people you’ll ever meet during your life. Don’t take them for granted while you’re there, because you may only have three months with them. If any of you are reading this, I love you guys. And I miss all of you.
    <!-- <br><br><span class="postSection">Staff</span><br><br>

    The staff at DevMountain is un. I’ve never seen a group of people want to see you succeed so badly. They work with so many students and accommodate their needs the best they can. They’re caring and understanding people. Unlike regular colleges, they don’t just see you as another student. They don’t just know your name, they really try to get to know you and understand what works best for your learning style. Krissy Weekly, Head of Student Success, meets with students multiple times to ensure students are on track and happy with DevMountain. They want to do well, but more importantly they want YOU to do even better. I know this sounds cliché, but this is literally the truth. Thank you to all of the DevMountain staff for your endless support and your constant efforts to go above and beyond for students. -->

    <br><br><span class="postSection">Overall</span> <i class="fa fa-long-arrow-right" aria-hidden="true"></i><br><br>

    DevMountain changed my life and I finally found my passion.<br><br><br>

    <h6>Geordyn Ader</h6>
    <h6>Mentor at <a href="http://devmounta.in/">DevMountain</a></h6>
    <h3><a href="http://www.geordyn.com/">Back To Website</a></h3>


</p>





</div>

<!-- //blog -->
</div>
