<div class="container">
<div class="floatingNav">
  <a href="http://github.com/geordyn"><span class="navTxt">github</span></a>
  <a href="http://facebook.com/geordynX"><span class="navTxt">facebook</span></a>
  <a href="http://linkedin.com/in/geordyn"><span class="navTxt">linkedin</span></a>
  <a ui-sref="resume"><span class="navTxt">Resume</span></a>

</div>

  <div class="textContainer">
    <div class="jstext"></div>
  </div>

    <div class="afterTyping">

      <section id="about"><br/>
          <div class="toResume" ui-sref="resume">View Resume</div>
        <div class="quoteContainer"><blockquote>
          I promise to never use the cliché phrase, "I make stuff." I'll never leave out a semicolon. My internal links will never open a new window. Most importantly, I've made it my mission to switch all IE users to Google Chrome&hellip; one grandma at a time.
          <cite><img class="sig" src="./styles/photos/sig.png"></cite>
        </blockquote></div>

          <h4 class="sectionTitle"><span>about me</span></h4>
          <div class="aboutMe">

            I have a love for three things in life: web development, traveling, and writing. I'm origininally from Chicago, but I have lived in San Diego and Phoenix as well. As of now, I live in Provo, Utah. I enjoy coding front to back, using the MEAN Stack. Learning new things is something I enjoy; I am always eager to continue developing my skills. Recently I've been diving into ReactJS. During my coding breaks, I enjoy writing and cross-stitching.
            I love coding, but I also love to teach others how it all works! I am currently a teacher's assistant at
            <a><span class="coloredHover">DevMountain</span></a>,
            but I am willing to make myself available for small projects.


          </div>

      </section>

      <section id="contact"><br/>

          <h4 class="sectionTitle"><span>contact me</span></h4>
          <div class="contactCont">
            <div class="contactStuff">
              <h3>(858) 255-1608</h3>

              <a
                href="mailto:geordyncader@gmail.com"
                class="email">
                <h3>geordyn.ader@gmail.com</h3>
              </a>
            </div>
          <div class="social">

            <a
              href="https://linkedin.com/in/geordyn">
              <i class="fa fa-linkedin-square fa-4x"></i>
            </a>&nbsp;

            <a
              href="https://github.com/geordyn">
              <i class="fa fa-github fa-4x"></i>
            </a>&nbsp;

            <a
              href="https://facebook.com/geordynX">
              <i class="fa fa-facebook-square fa-4x"></i>
            </a>&nbsp;

            <a
              href="https://instagram.com/slicedmangos">
              <i class="fa fa-instagram fa-4x"></i>
            </a>
          </div>
        </div>
      </section>

      <section id="works"><br/>

          <h4 class="sectionTitle"><span>Past Projects</span></h4>

        <div class="worksContent">

              <!-- <div class="worksInd">
                <div class="workTitle"><a href="http://198.211.101.167">Divinity Salon</a></div>
                <div class="workSubtitle">Website created for Divinity Salon - Encinitas, CA &middot; 2016</div>

            </div> -->
            <div class="worksInd">

                <div class="workTitle"><a href="http://globe.geordyn.com">DevGlobe</div>
                <div class="workSubtitle">A Group Project using the MEAN Stack where I heavily worked in backend. DevGlobe uses D3.js to display past DevMountain students' "impact on the world" by mapping the locations of their jobs found after DevMountain on an interactive globe. In addition, we compared the costs of a typical 4 year University and other bootcamps to show how much DevMountain's courses can save students on average.</div>

            </div>

              <div class="worksInd">

                <div class="workTitle"><a>Appointment Scheduler</a></div>
                <div class="workSubtitle">A Personal Project using the MEAN Stack, JavaScript FullCalendar, and D3.js intended for a salon with a team of stylists to schedule their appointments and store past client information. Includes a "timecard" feature for employees' hours and an employee stats page that uses D3.js to display rankings of employees based on customer reviews.</div>
              </div>


        </div>
      </section>
    </div>


    <!-- END CONTAINER -->
  </div>
<!-- </section> -->
<footer class="footer">
    <a href="http://github.com/geordyn"><span class="navTxt">github</span></a>
    <a href="http://facebook.com/geordynX"><span class="navTxt">facebook</span></a>
    <a href="http://linkedin.com/in/geordyn"><span class="navTxt">linkedin</span></a>
</footer>
</div>
