<div class="container">
  <div class="floatingNav">
    <a href="http://github.com/geordyn" target="_blank"><span class="navTxt">github</span></a>
    <a href="http://linkedin.com/in/geordyn" target="_blank"><span class="navTxt">linkedin</span></a>
    <a ui-sref="resume"><span class="navTxt">Resume</span></a>
    <a ui-sref="blog" target="_blank"><span class="navTxt">Blog</span></a>
  </div>

  <div class="textContainer">
    <div class="jstext"></div>
  </div>

  <div class="afterTyping">

    <section id="about">
      <br/>
      <div class="toResume" ui-sref="resume">View Resume</div>
      <div class="quoteContainer">
        <blockquote><p class="topQuote">
          I just want to be able to provide my future children with a stable wifi connection and a complete Pokémon Pokédex.</p>
          <cite><img class="sig" src="./styles/photos/sig.png"></cite>
        </blockquote>
      </div>
      <h4 class="sectionTitle"><span>about me</span></h4>
      <div class="aboutMe">
        Originally from Chicago, but I have lived in many different places such as San Diego, Phoenix, and Provo. Currently I live in Dallas, Texas. Believe it or not, my career goal was once to be a Dental Assistant, but then I learned to code. I started as a student at <a href="https://devmounta.in/" target="_blank">DevMountain's</a> Provo, Utah campus. I love teaching others to code, so I accepted a position as a Mentor at <a><span class="coloredHover">DevMountain</span></a>. Today, I'm proudly part of the <a href="http://www.lifeblue.com" target="_blank">Lifeblue</a> team as an Interactive Front End Developer.<br>
        For any inquiries regarding DevMountain, please email only.
      </div>
    </section>

    <section id="contact">
      <br/>
      <h4 class="sectionTitle"><span>contact me</span></h4>
      <div class="contactCont">
        <div class="contactStuff">
          <h3>(858) 255-1608</h3>

          <a href="mailto:geordyncader@gmail.com" class="email">
            <h3>geordyn.ader@gmail.com</h3>
          </a>

        </div>
        <div class="social">

          <a href="https://linkedin.com/in/geordyn" target="_blank">
            <i class="fa fa-linkedin-square fa-4x"></i>
          </a>&nbsp;

          <a href="https://github.com/geordyn" target="_blank">
            <i class="fa fa-github fa-4x"></i>
          </a>
          
        </div>
      </div>
    </section>

    <section id="works">
      <br/>

      <h4 class="sectionTitle"><span>Featured</span></h4>
      <div class="worksContent">
        <div class="worksInd">

          <div class="workTitle"><a href="https://devmounta.in/blog/from-student-to-mentor-interview-with-geordyn-ader" target="_blank">From Student to Mentor: Interview with Geordyn Ader</div>
            <div class="workSubtitle">The <a href="https://www.devmounta.in" target="_blank">DevMountain</a> Team took the time to sit down with Geordyn Ader to get the scoop of how she went from a DevMountain student in Provo, Utah to a Mentor in Dallas, Texas.</div>

        </div>
      </div>

      <h4 class="sectionTitle"><span>Projects</span></h4>

      <div class="worksContent">
        <div class="worksInd">

          <div class="workTitle">DevGlobe <a href="https://github.com/globe-trotters/agfn" target="_blank"><i class="fa fa-github fa-lg livesite" aria-hidden="true"></i></a></div>
          <div class="workSubtitle">Group Project using the MEAN Stack where I heavily worked in backend. DevGlobe uses D3.js to display past DevMountain students' "impact on the world" by mapping the locations of their jobs found after DevMountain on an interactive globe. In addition, we compared the costs of a typical 4 year University and other bootcamps to show how much DevMountain's courses can save students on average.</div>
        </div>

        <div class="worksInd">
          <div class="workTitle"><a>Beat</a> <a href="https://github.com/geordyn/lifeblue" target="_blank"><i class="fa fa-github fa-lg livesite" aria-hidden="true"></i></a><a href="https://lifeblue.herokuapp.com/" target="_blank"><i class="fa fa-desktop fa-lg livesite" aria-hidden="true"></i></a></div>
          <div class="workSubtitle">Beat is a web application created for a fictitious client to demonstrate my ability to create a modern blog layout. Using AngularJS and Less, this fully responsive web application also includes a functional archive page for users to search past blog posts. There are six main components of the website: Global Header, Articles, Archive, Popular Content, Newsletter Sign Up, and a Global Footer - All of which are Angular directives.</div>
        </div>

        <div class="worksInd">
          <div class="workTitle"><a href="http://salon.geordyn.com/">Divinity Salon</a> <a href="http://github.com/geordyn/samplesalon" target="_blank"><i class="fa fa-github fa-lg livesite" aria-hidden="true"></i></a><a href="http://salon.geordyn.com" target="_blank"><i class="fa fa-desktop fa-lg livesite" aria-hidden="true"></i></a></div>
          <div class="workSubtitle">Static website created with AngularJS and customized for Divinity Salon located in Encinitas, California. This clean, simplistic website perfectly showcases Divinity Salon's minimalistic style and class. This design was created to be mobile and desktop friendly. </div>
        </div>

        <div class="worksInd">
          <div class="workTitle"><a>iSpend</a> <a href="https://github.com/geordyn/expenseApp" target="_blank"><i class="fa fa-github fa-lg livesite" aria-hidden="true"></i></a><a href="https://geordynexpenses.herokuapp.com/#/" target="_blank"><i class="fa fa-desktop fa-lg livesite" aria-hidden="true"></i></a></div>
          <div class="workSubtitle">Personal Project using the MEAN Stack. iSpend is a web application that allows users to keep track of their expenses at a company. In some industries it's hard to keep track of what employees spend out of pocket for their company - with iSpend, it's easy. (mobile only)</div>
        </div>

        <!-- <div class="worksInd">
          <div class="workTitle"><a>SunnyVale Honey</a> <a href="https://github.com/geordyn/honey"><i class="fa fa-github fa-lg livesite" aria-hidden="true"></i></a><a href="https://geordynsunnyvale.herokuapp.com/#/home"><i class="fa fa-desktop fa-lg livesite" aria-hidden="true"></i></a></div>
          <div class="workSubtitle">This is a basic example of a responsive website using AngularJS I created intended to replace SunnyVale Honey Producers' current website. I made the SunnyVale Honey Logo in the top left corner as well. Click <a href="http://sunnyvalehoney.com">HERE</a> to see their current website.</div>
        </div> -->

        <div class="worksInd">
          <div class="workTitle"><a>Appointment Scheduler</a> <a href="https://github.com/geordyn/salonsched" target="_blank"><i class="fa fa-github fa-lg livesite" aria-hidden="true"></i></a></div>
          <div class="workSubtitle">My very first full stack application using the MEAN Stack. Other technologies include JavaScript FullCalendar and D3.js. Application intended for a salon with a team of stylists to schedule their appointments and store past client information. Includes a "timecard" feature for employees' hours and an employee stats page that uses D3.js to display rankings of employees based on customer reviews.</div>
        </div>

      </div>
    </section>
  </div>
  <!-- END CONTAINER -->
</div>

<!-- </section> -->
<footer class="footer">
  <a href="http://github.com/geordyn" target="_blank"><span class="navTxt">github</span></a>
  <a href="http://linkedin.com/in/geordyn" target="_blank"><span class="navTxt">linkedin</span></a>
  <a ui-sref="blog" target="_blank"><span class="navTxt">blog</span></a>
</footer>
</div>
