<div class="container">
<div class="floatingNav">
  <a href="http://github.com/geordyn"><span class="navTxt">github</span></a>
  <a href="http://facebook.com/geordynX"><span class="navTxt">facebook</span></a>
  <a href="http://linkedin.com/in/geordyn"><span class="navTxt">linkedin</span></a>
  <a ui-sref="resume"><span class="navTxt">Resume</span></a>
  <a ui-sref="blog"><span class="navTxt">Blog</span></a>


</div>

  <div class="textContainer">
    <div class="jstext"></div>
  </div>

    <div class="afterTyping">

      <section id="about"><br/>
          <div class="toResume" ui-sref="resume">View Resume</div>
          <h6 class="bouncy">Scroll Down, HoneyBun</h6>
        <div class="quoteContainer"><blockquote>
          I promise to never use the cliché phrase, "I make stuff." I'll never leave out a semicolon. My internal links will never open a new window. Most importantly, I've made it my mission to switch all IE users to Google Chrome&hellip; one grandma at a time.
          <cite><img class="sig" src="./styles/photos/sig.png"></cite>
        </blockquote></div>

          <h4 class="sectionTitle"><span>about me</span></h4>
          <div class="aboutMe">

            Truthfully, I don't want to bore you with a long paragraph about myself, so I'll stick to the basics. I'm originally from Chicago, Illinois but have lived in many different places such as San Diego, Phoenix, and Provo. Currently I live in Dallas, Texas USA. Web development is my one true love and nothing will keep me from her. I started as a student at <a href="https://devmounta.in/">DevMountain's</a> Provo, Utah campus and now I work for them in Dallas, Texas! Since I love teaching others to code, I accepted the position as a Mentor at <a><span class="coloredHover">DevMountain</span></a> for the summer and I am unavailble for full time work until this Fall. In the meantime, I am available for smaller projects. For any inquiries feel free to email, call, or text me.
            <h4><a ui-sref="blog">Read My Latest Blog Post</a></h4>



          </div>

      </section>

      <section id="contact"><br/>

          <h4 class="sectionTitle"><span>contact me</span></h4>
          <div class="contactCont">
            <div class="contactStuff">
              <h3>(858) 255-1608</h3>

              <a
                href="mailto:geordyncader@gmail.com"
                class="email">
                <h3>geordyn.ader@gmail.com</h3>
              </a>
              <h4><a ui-sref="blog">Read My Latest Blog Post</a></h4>

            </div>
          <div class="social">

            <a
              href="https://linkedin.com/in/geordyn">
              <i class="fa fa-linkedin-square fa-4x"></i>
            </a>&nbsp;

            <a
              href="https://github.com/geordyn">
              <i class="fa fa-github fa-4x"></i>
            </a>&nbsp;

            <a
              href="https://facebook.com/geordynX">
              <i class="fa fa-facebook-square fa-4x"></i>
            </a>&nbsp;

            <a
              href="https://instagram.com/slicedmangos">
              <i class="fa fa-instagram fa-4x"></i>
            </a>
          </div>
        </div>
      </section>

      <section id="works"><br/>

          <h4 class="sectionTitle"><span>Featured</span></h4>
            <div class="worksContent">
                <div class="worksInd">

                    <div class="workTitle"><a href="https://devmounta.in/blog/from-student-to-mentor-interview-with-geordyn-ader">From Student to Mentor: Interview with Geordyn Ader</div>
                    <div class="workSubtitle">The <a href="https://www.devmounta.in">DevMountain</a> Team took the time to sit down with Geordyn Ader to get the scoop of how she went from a DevMountain student in Provo, Utah to a Mentor in Dallas, Texas.</div>

                </div>
            </div>

            <!-- <div class="worksContent inlineWork">
                <div class="worksInd">
                    <h4 class="sectionTitle"><span>Latest Blog Post</span></h4>

                    <div class="workTitle"><a href="https://devmounta.in/blog/from-student-to-mentor-interview-with-geordyn-ader">DevMountain Life</div>
                    <div class="workSubtitle">This is a more detailed explanation of my time as a student at <a href="https://www.devmounta.in">DevMountain</a>. I wanted to write this for others looking at DevMountain as a potential school. When I applied, nothing like this was written, which made my choice to attend a little bit intimidating - I didn't know what to expect.</div>

                </div>
            </div> -->


          <h4 class="sectionTitle"><span>Projects</span></h4>

        <div class="worksContent">

              <!-- <div class="worksInd">
                <div class="workTitle"><a href="http://198.211.101.167">Divinity Salon</a></div>
                <div class="workSubtitle">Website created for Divinity Salon - Encinitas, CA &middot; 2016</div>

            </div> -->
            <div class="worksInd">

                <div class="workTitle"><a href="http://globe.geordyn.com">DevGlobe</div>
                <div class="workSubtitle">A Group Project using the MEAN Stack where I heavily worked in backend. DevGlobe uses D3.js to display past DevMountain students' "impact on the world" by mapping the locations of their jobs found after DevMountain on an interactive globe. In addition, we compared the costs of a typical 4 year University and other bootcamps to show how much DevMountain's courses can save students on average.</div>

            </div>

            <div class="worksInd">

              <div class="workTitle"><a href="http://salon.geordyn.com/">Divinity Salon</a></div>
              <div class="workSubtitle">A static website created and customized for Divinity Salon located in Encinitas, California. This clean, simplistic website perfectly showcases Divinity Salon's minimalistic style and class. This design was created to be mobile and desktop friendly. </div>
            </div>

              <div class="worksInd">

                <div class="workTitle"><a>Appointment Scheduler</a></div>
                <div class="workSubtitle">A Personal Project using the MEAN Stack, JavaScript FullCalendar, and D3.js intended for a salon with a team of stylists to schedule their appointments and store past client information. Includes a "timecard" feature for employees' hours and an employee stats page that uses D3.js to display rankings of employees based on customer reviews.</div>
              </div>



        </div>
      </section>
    </div>


    <!-- END CONTAINER -->
  </div>
<!-- </section> -->
<footer class="footer">
    <a href="http://github.com/geordyn"><span class="navTxt">github</span></a>
    <a href="http://facebook.com/geordynX"><span class="navTxt">facebook</span></a>
    <a href="http://linkedin.com/in/geordyn"><span class="navTxt">linkedin</span></a>
    <a ui-sref="blog"><span class="navTxt">blog</span></a>

</footer>
</div>
