
<!--
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic|Open+Sans:300,400,500,700|Waiting+for+the+Sunrise|Shadows+Into+Light' rel='stylesheet' type='text/css'> -->
<div class="resume">
<div class="wrapper clearfix">
<div class="left">
    <div class="btns">
<div class="back" ui-sref="home">Back</div><br/>
<div class="back download"><a href="./../styles/photos/geordynaderMarchResume.pdf" download>Download</div>
</div>
    <div class="name-hero">

      <div class="me-img"></div>

      <div class="name-text">

        <h1>Geordyn <em>Ader</em></h1>
        <p><a href="http://geordyn.com">www.geordyn.com</a></p>
        <p>geordyn.ader@gmail.com</p>
        <p>(858) 255-1608</p>
        <p>GitHub <em><a href="http:/github.com/geordyn">@geordyn</a></em></p>
        <p>LinkedIn <em><a href="http:/linkedin.com/in/geordyn">/geordyn</a></em></p>
        <p>Facebook <em><a href="http://facebook.com/geordynX">/geordynX</a></em></p>
        <p>Instagram <em><a href="http://instagram.com/slicedmangos">@slicedmangos</a></em></p>



      </div>

    </div>

  </div>
 <div class="right">

    <div class="inner">
      <section>
        <h1>Employment</h1>
        <p class="jobTitle">Mentor <br/><em>DevMountain | Provo, UT</em></p>
        <p>Mentoring a group of new developers with responsibilities such as assisting with and leading lectures, general curriculum preparation, as well as leading in toy problems and discussions.</p>
        <!-- ADD JUNIOR DEVELOPER Junior Developer &amp; -->
        <p class="jobTitle">Marketing Intern <br/><em> ProviderTech, LLC | Phoenix, AZ</em></p>
        <p>Worked closely with the CEO to meet with the company's potential clients, prepared marketing materials, data entry, and maintained the company’s social media. </p>
        <p class="jobTitle">Assistant Manager <br/><em>Volver Boutique | Kankakee, IL</em></p>
        <p>Increased revenue by 63.7%, reported daily sales to CEO, co-created sales goals and employee incentives, Supervised Sales Staff, maintained storefront displays, created seasonal promotions, and represented Volver at community events alongside the CEO</p>
      </section>
      <section>
        <h1>Technical Skills</h1>
        <ul class="skill-set">
          <li>JavaScript</li>
          <li>AngularJS</li>
          <li>CSS3</li>
          <li>Express</li>
          <li>HTML5</li>
          <li>JQUERY</li>
          <li>MongoDB</li>
          <li>Node.js</li>
          <li>Git</li>
          <li>Mongoose</li>
          <li><a href="https://d3js.org/">D3.js</a></li>
          <li>Responsive Web Design</li>
          <li>Mocha &amp; Chai (unit-testing)</li>
        </ul>
        <h1>Self-Teaching</h1>
        <ul class="skill-set">
          <li>ReactJS</li>
          <li>Java</li>
          <li>SQL</li>
      </ul>
      </section>
      <section class="references">
        <h1>References</h1>

        <p>Ryan Walsh | <em>DevMountain, Lead Instructor</em></p>
        <p class="refInfo"><a href="https://www.linkedin.com/in/ryan-walsh-175669a2">Ryan's LinkedIn</a> | ryan.walsh@devmounta.in</p>

        <p>Zac Anger | <em>Jane.com, Frontend Developer</em></p>
        <p class="refInfo"><a href="https://www.linkedin.com/in/zac-anger-27205210a">Zac's LinkedIn</a> | zac@zacanger.com</p>

        <!-- <p>Ben Callis | <em>DevMountain | Instructor</em></p>
        <p class="refInfo"><a href="https://www.linkedin.com/in/bencallis1">LinkedIn</a> | bencallis1@gmail.com</p> -->

      </section>
            <section>
        <h1>Personal Interests</h1>
        <ul class="skill-set">
          <li>Thrift Shopping</li>
          <li>Writing</li>
          <li>Making Smoothies</li>
          <li>Self-Teaching</li>
          <li>Health &amp; Nutrition (well, I try)</li>
          <li>Reading</li>
        </ul>
      </section>
      <section>
        <div class="handmade">
          <!-- <p>handmade by <em> Geordyn Ader</em></p> -->
        </div>
      </section>
    </div>

  </div>



</div>
</div>
