
<!--
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic|Open+Sans:300,400,500,700|Waiting+for+the+Sunrise|Shadows+Into+Light' rel='stylesheet' type='text/css'> -->

<div class="wrapper clearfix">
<div class="left">

    <div class="name-hero">

      <div class="me-img"></div>

      <div class="name-text">

        <h1>Geordyn <em>Ader</em></h1>
        <p><a href="http://geordyn.com">www.geordyn.com</a></p>
        <p>geordyn.ader@gmail.com</p>
        <p>(858) 255-1608</p>
        <p>GitHub <em><a href="http:/github.com/geordyn">@geordyn</a></em></p>
        <p>LinkedIn <em><a href="http:/linkedin.com/in/geordyn">/geordyn</a></em></p>
        <p>Facebook <em><a href="http://facebook.com/geordynX">/geordynX</a></em></p>
        <p>Instagram <em><a href="http://instagram.com/slicedmangos">@slicedmangos</a></em></p>



      </div>

    </div>

  </div>
 <div class="right">

    <div class="inner">
      <section>
        <h1>Employment</h1>
        <p>Spring 2016 - Present <em>DevMountain | Mentor</em></p>
        <p>Assisting Lead Instructor to successfully teach over 30 students HTML5, CSS3, and the MEAN Stack (most not having previous coding experience).</p>
        <!-- ADD JUNIOR DEVELOPER Junior Developer &amp; -->
        <p>Fall 2015 - Winter 2015 | <em>ProviderTech, LLC | Marketing Intern</em></p>
        <p>Worked closely with the CEO to meet with the company's potential clients, prepare marketing materials, data entry, and maintaining the company’s social media. </p>
        <p>Spring 2013 - Summer 2015  | <em>Volver Boutique | Assistant Manager</em></p>
        <p>Increased revenue by 63.7%, reported daily sales to CEO, co-created sales goals and employee incentives, Supervised Sales Staff, maintained storefront displays, created seasonal promotions, and represented Volver at community events alongside the CEO</p>
      </section>
      <section>
        <h1>Technical Skills</h1>
        <ul class="skill-set">
          <li>JavaScript</li>
          <li>AngularJS</li>
          <li>CSS3</li>
          <li>Express</li>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>JQUERY</li>
          <li>MongoDB</li>
          <li>Node.js</li>
          <li>Git</li>
          <li>Mongoose</li>
          <li><a href="https://d3js.org/">D3.js</a></li>
          <li>Responsive Web Design</li>
        </ul>
        <h1>Self-Teaching</h1>
        <ul class="skill-set">
          <li>ReactJS</li>
          <li>SQL</li>
      </ul>
      </section>
      <section>
        <h1>References</h1>
        <p>Name Name | <em>Name Name, llc. | CEO</em></p>
        <p><a href="">LinkedIn</a> | Name@Name.com</p>
        <p>Name Name | <em>Name Name, llc. | CEO</em></p>
        <p><a href="">LinkedIn</a> | Name@Name.com</p>
        <p>Name Name | <em>Name Name, llc. | CEO</em></p>
        <p><a href="">LinkedIn</a> | Name@Name.com</p>
      </section>
            <section>
        <h1>Personal Interests</h1>
        <ul class="skill-set">
          <li>Thrift Shopping</li>
          <li>Writing</li>
          <li>Making Smoothies</li>
          <li>Self-Teaching</li>
          <li>Health & Nutrition (well, I try)</li>
          <li>Reading</li>
        </ul>
      </section>
      <section>
        <div class="handmade">
          <!-- <p>handmade by <em> Geordyn Ader</em></p> -->
        </div>
      </section>
    </div>

  </div>



</div>
